<section>
  <h2>Muro</h2>

  <div class="post-box">
    <textarea placeholder="Escribe algo..." rows="3"></textarea>
    <div class="post-actions">
      <button>Adjuntar</button>
      <button>Compartir</button>
    </div>
  </div>

  
  <article class="post">
    <div class="post-header">
      <img src="assets/jona.png" alt="Jonathan" class="post-avatar" />
      <div>
        <h3>Jonathan</h3>
        <p class="post-date">13 de septiembre de 2025</p>
      </div>
    </div>
    <p class="post-content">¡Hoy logré crear una SPA con JavaScript puro!!</p>
    <div class="post-buttons">
      <button>Me gusta</button>
      <button>Comentar</button>
      <button>Compartir</button>
    </div>
  </article>

  
  <article class="post">
    <div class="post-header">
      <img src="assets/images.jpeg" alt="María" class="post-avatar" />
      <div>
        <h3>María</h3>
        <p class="post-date">12 de septiembre de 2025</p>
      </div>
    </div>
    <p class="post-content">¿Alguien tiene recomendaciones de cursos de diseño UX?</p>
    <div class="post-buttons">
      <button>Me gusta</button>
      <button>Comentar</button>
      <button>Compartir</button>
    </div>
  </article>
</section>


